.header {
    background: #fafafa;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    box-shadow: 0px 2px 2px rgba(199, 199, 199, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 64px;
}

.header-navbar-menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header-navbar-menu__item.header-navbar-menu__item_selected a {
    font-weight: 700;
    color: #000;
}
.header-navbar-menu__item a {
    color: #000;
    font-weight: 500;
    transition: 0.3s ease;
}

.header-navbar-menu__item a:hover {
    color: rgb(69, 68, 68);
    transition: 0.3s ease;
}

#loadTime {
    position: absolute;
    right: 64px;
    width: fit-content;
}

@media screen and (max-width: 600px) {
    #loadTime {
        display: none;
    }
}
